
.page-wrapper {
    max-width: 1024px;
    background-color: rgba(206, 205, 182, 0.534);
    margin: 0px auto;
    padding: 40px;
}
header {
    height: 50px;
    width: 1920px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('web-development-background.png');
    background-blend-mode: lighten;
    height:300px;
    width: 1024px;
    background-size: cover;
    
}

h1 {
    text-align: center;
    font-size: 80px;
    color: black;
    padding-top: 30px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: black;
}

.about-me p {
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
}

section.about-me {
    margin: 40px 0;
}

section.my-portfolio div {
    background-color: black; 
    color: white;       
}

.my-portfolio {
    display: inline;
    width: 800px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-inline {
    width: 250px;
    text-align: center;
    margin-left: 5px;    
}
